version: "3.9"

services:
  db:
    image: mysql:8.1
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: MYSQL_ROOT_PASSWORD
      MYSQL_DATABASE: exam
      MYSQL_USER: my_user
      MYSQL_PASSWORD: root_pass
    ports:
      - "3306:3306"       
    networks:
      - mern-app                  
    volumes:
      - db_data:/var/lib/mysql
      - ./initdb:/docker-entrypoint-initdb.d    
  
  backend:
    build: ./backend
    container_name: backend_app
    ports:
      - "4000:4000"
    networks:
      - mern-app
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: frontend_app
    ports:
      - "3000:3000"
    networks:
      - mern-app
    environment:
        REACT_APP_API_URL: http://localhost:4000/api
    depends_on:
      - backend

networks:
  mern-app:
    driver: bridge

volumes:
  db_data:
